<mat-dialog-content>
<!-- <ngx-slick-carousel
class="carousels"
#slickModla="slick-carousel"
[config]="slideConfig"
>

    <div ngxSlickItem class="slide containter-image" *ngFor="let url of datos">
      
            <img [src]="url" class="image-venta">
      
        
    </div>


</ngx-slick-carousel> -->


<lightgallery [settings]="settings" [onInit]="onInit">
    <a *ngFor="let item of items" [attr.data-lg-size]="item.size" className="gallery-item" [attr.href]="item.src">
        <img width="50%" className="img-responsive" src="{{ item.thumb }}" />
     </a>
</lightgallery>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cerrar</button>
 </mat-dialog-actions>