.text-center{
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-venta{
    width: 50%;
    margin: 15px auto;
}

.diamante{
  width: 300px;
  margin: 15px auto;
}

.imgDiamante{
    width: 150px;
    display: block;
    margin: auto;
}

.radio{
    width: 25%;
    display: block;
    margin: auto;
}

.margen{
    padding: 15px 15px ;
    margin: 15px 15px;
    border: 5px solid slateblue ;
    border-radius: 15px 15px;
}

.container{
    margin: 15px auto;
    padding: 15px 15px;
    font-size: 16px;
}
.example-full-width {
    width: 100%;
}

.btn-block{
    width: 100%;
    padding: 15px 15px;
    margin-top: 5px;
    font-size: 24px;
}

.progress{
    height: 30px;
    border-radius: 15px 15px;
}