.example-spacer{
    flex: 1 1 auto;
}
.margin-icon{
    margin: 15px auto;
    padding-top: 5px;
}

.btn-close{
    cursor: pointer;
    transition: font-size .2s;
}

.btn-close:hover{
    font-size: 24px;
}

.shadow{
    cursor: pointer;
    text-shadow: 2px 2px 8px white;
}

