.example-form-field {
    width: 100%;
    font-size: 18px;
}
.label{
    font-size: 18px;
}

.btn-large{
    width: 150px;
    display: block;
    justify-content: center;
}

@media only screen and (max-width: 500px){
    .btn-large{
        width: 100%;
        display: inline-block;
        justify-content: center;
        margin-bottom: 10px;
    }
}