<mat-card class="card-login">
    <mat-card-header>
        <h2 class="text-center">Inciar Seccion</h2>
    </mat-card-header>
    <mat-card-content>

        <form [formGroup]="control" (ngSubmit)="login(control.value)">

            <div class="example-container">
                <mat-form-field appearance="fill" class="input-container">
                  <mat-label>Escribe el correo electronico</mat-label>
                  <input  matInput placeholder="pat@example.com" formControlName="email" required>
                  <mat-error *ngIf="control.controls.email.invalid" class="error-msg">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill"  class="input-container">
                    <mat-label>Escribe tu contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    
                    </button>
                  </mat-form-field>

                  <button mat-raised-button color="primary" class="input-container" [disabled]="control.invalid">Iniciar Sesion</button>

              </div>

        </form>

    </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>
