/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.text-center{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

.card-venta{
    width: 50%;
    margin: 15px auto;
}

.diamante{
  width: 300px;
  margin: 15px auto;
}

.imgDiamante{
    width: 150px;
    display: block;
    margin: auto;
    border-radius: 10px 10px;
}

.radio{
    width: 25%;
    display: block;
    margin: auto;
}

.margen{
    padding: 15px 15px ;
    margin: 15px 15px;
    border: 5px solid slateblue ;
    border-radius: 15px 15px;
    transition: transform .2s;
    box-shadow: 10px 10px 8px 5px #673ab7;
}

.margen:hover{
    transform: scale(1.1);
}

.container{
    margin: 15px auto;
    padding: 15px 15px;
    font-size: 16px;
}
.example-full-width {
    width: 100%;
}

.btn-block{
    width: 100%;
    padding: 15px 15px;
    margin-top: 5px;
    font-size: 24px;
}

.progress{
    height: 30px;
    border-radius: 15px 15px;
}

.example-button-container {
    display: block;
    justify-content: flex-start;
    width: 120px;
    float: right;
    transition: transform .2s;
}


.example-button-container:hover{
    transform: scale(1.2);
}

.parrafos{
    font-size: 18px;
}

.redondeado{
    background:#673ab7;
    border-radius: 15px 15px;
    padding: 15px;
    color: white;
    font-style: normal;
    box-shadow: 10px 10px 8px #673ab7;
}

.img-rounded{
    cursor: pointer;
}

.form-content{
    margin-top: 15px;
}

.aria-label{
    font-size: 18px;
}


.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


/* @media only screen and (max-width: 500px){
    .imgDiamante{
        width: 50%;
    }
} */


.edit{
  
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    color: #673ab7;
    grid-column-gap: 20px;
    margin-top: 10px;
}
.edit-icon{
    
    cursor: pointer;
    grid-column: 100px;
}

.delete-icon{
    cursor: pointer;
    color: red;
 
}


.example-form-field {
    width: 100%;
    font-size: 18px;
}
.label{
    font-size: 18px;
}

.btn-large{
    width: 150px;
    display: block;
    justify-content: center;
}


.grid-venta{
    margin-bottom: 50px;
}

.img-venta{
    width: 100px;
    margin: calc(50% - 50px);
    text-align: center;
}

.total-ventas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 50px;
    position: fixed;
    z-index: 100;
    bottom: 0px;
    color: white;
}

.background-black{
    background: rgb(103,58,183);
background: linear-gradient(90deg, rgba(103,58,183,1) 0%, rgba(116,12,128,1) 50%, rgba(87,34,181,1) 100%);
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto;
}



.texto-venta{
    text-align: center;
    font-size: 18px;
}
.texto-venta:nth-child(5){
    color: red;
}

.color-venta{
    background-color: red;
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 3px 3px;
}


.search-contenet{
    width: 100%;
    background-color: white;
    font-size: 20px;
    
}

.search-contenet .input-search{
    padding: 0 10px;
}

.image-venta{
    width: calc(100% - 10vw);

    cursor: pointer;
}


.form-respuesta{
    width: 100%;
    
}

.menu-final{
    display: none;
}



.menu-sidebar{
 
    position: fixed;
    z-index: 100;
    width: 50%;
    height: 100%;
    background: #673ab7;
    color: white;
    left: -1000px;
    transition: all 0.4s ease-in-out;
}

.menu-sidebar-show{

    left: 0;
}

.menu-sidebar ul{
    list-style: none;
}

.menu-sidebar ul li{
    font-size: 1rem;
    padding: 5px;
}

.container-venta{
    width: 100%;
    padding: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 5px;
    margin-bottom: 100px;
}

.busqueda{
    position: sticky;
    top: 0;
}


.btn-scroll-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 200;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #673ab7;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: 0.3s ease-in-out all;
}


.btn-scroll-top:hover{
    background-color: red;
}


.fecha-venta{
    color: white;
    font-size: 18px;
    
}


.cancelado{
    opacity: .5;
}

.no-cancelado{
    opacity: 1;
}


@media only screen and (max-width: 560px){
    .btn-large{
        width: 100%;
        display: inline-block;
        justify-content: center;
        margin-bottom: 10px;
    }
  
    .menu-inicio{
        display:none ;
    }

    .menu-final{
        display: block;
    }


    .container-venta{
        grid-template-columns: 1fr;
    }
    
    .background-black{
        grid-template-columns: 1fr;
    }
}